/* title slide */

.title h1 {
  text-align: left;
}

.subtitle {
  text-align: left;
  top: 370px;
  position: absolute;
  width: 600px;
}

.author {
    position: absolute;
    right: 20px;
    top: 15px;
}

.presentation {
    position: absolute;
    top: 115px;
    left: 90px;
}


/* slide 1 */

.quote {
    margin-left: 3rem;
    margin-right: 9rem;
}

.quote-auth {
    margin-right: 9rem;
    margin-top: 3rem;
}

.img-234 {
  position: absolute;
  top: 150px;
  left: 675px;
}

.title-234 {
  position:absolute;
}

.custom-code-css pre {
    top: 200px;
    font-size: 22px;
}

span.hljs-string {
    display: inline;
}

pre {
  position: absolute;
}

.large-link {
    position: absolute;
    top: 300px;
    font-size: 40px;
    width: 500px;
    text-decoration: underline;
}

.title-link {
      text-decoration: underline;
}

.custom-code-2 {
    position: absolute;
    top: 120px;
    left: 85px;
    font-size: 22px;
}

.a-slide-title {
    text-decoration: underline;
    position: absolute;
    margin-left: 20px;
    width: 300px;
    top: 275px;
    text-align: center;
    font-size: 40px;
}

.a-list-1 {
    text-decoration: underline;
    position: absolute;
    left: 500px;
    top: 150px;
}

a.a-list-2 {
    text-decoration: underline;
    position: absolute;
    left: 500px;
    top: 340px;
}

a.a-list-2 {
    text-decoration: underline;
    position: absolute;
    left: 500px;
    top: 340px;
}

a.a-list-3 {
    text-decoration: underline;
    position: absolute;
    left: 500px;
    top: 520px;
}

.flex-output {
  display: flex;
  gap: 10px;
}
